* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  overflow: hidden;
  max-width: 1500px;
  padding: 0 2%;
  margin: 0 auto;
}

.section_container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

/* Header section */

.header .section_container {
  max-width: auto;
  padding: 0 9%;
}

.header {
  padding: 40px 0;
  margin-bottom: 180px;
}

.header_section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_menu a {
  display: flex;
  justify-content: center;
}

.nav_menu_btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hamburger_menu {
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.secondary_menu {
  position: fixed;
  top: 0;
  left: -280px;
  background: #10b98183;
  width: 280px;
  height: 100%;
  z-index: 2;
  transition: all 0.7s ease-in-out;
}

.media_navigation .secondary_menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 100px 0;
}

.media_navigation .secondary_menu li {
  width: 100%;
}

.media_navigation .secondary_menu a {
  border-radius: 5px;
  border: 1px solid transparent;
}

.hamburger_menu {
  display: none;
}

#menu {
  display: none;
}

#menu:checked ~ .secondary_menu {
  left: 0;
}

/* Home Section */

.home_section {
  margin-bottom: 77px;
}

.home_section_content {
  display: flex;
}

.home_section_description {
  width: 460px;
  transform: translateY(-83px);
}

.main_section_image {
  width: 780px;
  height: 720px;
  position: absolute;
  right: -158px;
  top: -260px;
  z-index: -1;
}

.main_title {
  color: #1b1c57;
  font-family: Lexend;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.main_title span {
  color: transparent;
  -webkit-text-stroke: 1px #1b1c57;
}

.paragraph,
.last_cards p,
.new_card p {
  color: #626687;
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
  opacity: 0.75;
}

.last_cards p,
.new_card p {
  margin: 0;
}

.vector_1,
.vector_2,
.vector_3,
.vector_4 {
  position: absolute;
  top: 0;
  width: 800px;
  height: 600px;
  z-index: -1;
}

.location_content {
  position: relative;
  margin-bottom: 32px;
}

.location_input {
  padding: 17px 200px 17px 64px;
  border-radius: 32px;
  border: 1px solid var(--neutral-300, #e0e3eb);
  background: #fff;
}

.location_content > img {
  position: absolute;
  top: 14px;
  left: 20px;
}

.btn,
.btn2 {
  position: absolute;
  top: 2px;
  right: 23px;
  padding: 12px 12px 12px 14px;
  border-radius: 32px;
  background: #10b981;
  cursor: pointer;
  transition: 0.5s;
}

.btn2 {
  position: relative;
  right: 0;
  top: 0;
}

.btn a,
.btn2 a {
  color: #fff;
  font-family: "Lexend";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.btn:hover {
  background: #098259;
}

.brand_images {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Home Section 3 */

.home_section_3 {
  margin-bottom: 120px;
  position: relative;
}

.home_content_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
}

.owner_description {
  display: flex;
  align-items: center;
}

.owner_description .btn {
  position: relative;
  margin-bottom: 8px;
  margin-left: 80px;
}

.owner_description .btn a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.detail_title {
  color: #1b1c57;
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.75;
}

.contact_section {
  padding-top: 26px;
}

.contact_section .slider_link,
.contact_section .carousel_title,
.contact_section .paragraph,
.contact_section .detail_title {
  margin-bottom: 16px;
}

.detail_grid {
  width: 440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 28px 53px;
  padding-bottom: 34px;
  border-bottom: 2px solid #f0f3fd;
  margin-bottom: 34px;
}

.detail_grid_inner {
  display: flex;
  align-items: center;
  gap: 16px;
}

.media_section {
  position: relative;
}

.media_section img:not(:first-child) {
  position: absolute;
}

.media_section img:nth-child(2) {
  bottom: 0;
  left: -30px;
}

.media_section img:nth-child(3) {
  bottom: 0;
  right: 155px;
}

.media_section img:nth-child(4) {
  bottom: 0;
  right: 50px;
}

.vector_4 {
  right: 0;
  top: -240px;
}

.vector_3 {
  right: 0;
  top: -140px;
}

/* Home Section 4 */

.home_section_4 {
  margin-bottom: 111px;
}

/* Home Section 5 */

.section_content_5 {
  margin-bottom: 122px;
}

.section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 42px;
}

.section_content_5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
}

.last_cards,
.new_card {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.new_card {
  gap: 12px;
}

.new_card .paragraph {
  margin-bottom: 0;
}

.last_card {
  display: flex;
  align-items: center;
  gap: 32px;
}

.last_card_description {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.last_card_owner,
.date_time {
  display: flex;
  align-items: center;
  gap: 16px;
}

.short_description {
  color: #1b1c57;
  font-family: "Lexend";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}

.name_owner {
  color: #3c4563;
  font-family: Lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
